<mat-sidenav-container fullscreen class="example-container" color="primary" >
  <mat-sidenav #sidenav class="example-sidenav" [hidden]="!hideNavigation">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="menu">
      <button type="button" class="btn btn-light opcion" routerLink="stock">Stock</button>
      <button type="button" class="btn btn-light opcion" routerLink="modelos">Modelos</button>
      <button type="button" class="btn btn-light opcion" routerLink="ingresos">Ingresos</button>
      <button type="button" class="btn btn-light opcion" routerLink="egresos">Egresos</button>
      <button type="button" class="btn btn-light opcion" routerLink="oferta">Ofertas</button>
      <button type="button" class="btn btn-light opcion" routerLink="catalagos">Catalogos</button>
    </div>
    <br>
    <br>
    <mat-accordion>
      <mat-expansion-panel style="background-color: #26303D;; color: white;">
        <mat-expansion-panel-header class="arrow">
          <mat-panel-title style="color: white;">
            <!--<img src="/assets/user.png">-->
            <mat-icon aria-label="user">account_circle</mat-icon>
            <span>{{usuarioNombreSesion | uppercase}}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-menu-item type="button" class="btn btn-light opcion" (click)="logout()" >
          <span>Salir</span>
        </button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <mat-toolbar  class="navbar navbar-dark bg-dark" [hidden]="!hideNavigation">
    <button mat-icon-button type="button" class="btn btn-light" (click)="sidenav.toggle()">
      <mat-icon aria-label="Menú">menu</mat-icon>
    </button>
    <div class="seccion">
      {{seccion}}
    </div>
  </mat-toolbar >
  <router-outlet></router-outlet>
</mat-sidenav-container>